html, body {
  height: 100%;
  padding: 0px;
}

body {
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 3px rgba(0,0,0,.5);

}

.site-wrapper {
	display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
 .search-banner {
 	width: 100%;
  height: 700px;
 	background-color: #5BC0DE;
 	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../photos/banner.jpg') no-repeat center center fixed;
 	background-size: cover
 }

 .row{
 	padding-top: 200px;
 }

 .col-md-6 h2{
 	padding-top: 60px;
 }

 .col-md-6 label {
 	text-transform: uppercase;
 	padding-top: 20px;

 }

 .col-md-6 input {
 	background: transparent !important;
 	width: 250px;
 	height: 30px;
 	border: 2px solid #fff;
 	border-radius: 2px;
 	font-size: 14px;
 	padding: 0 20px 0 20px;
 	outline: none;
 	font-color: #fff;
 	text-align: center;
 }

 .col-md-6 button {
 	margin-top: 20px;
 	width: 100px;
  	height: 40px;
  	background: #5bc0de;
  	border-radius: 5px;
  	border: 1px solid #46b8da;
  	color: #fff;
  	font-weight: bold;
  	text-transform: uppercase;
  	font-size: 14px;
  	outline: none;
  	cursor: pointer;
}
.col-md-6 fieldset select{
	background: transparent;
	margin: 5px;
	border: 2px solid #fff;
}


.grid{
  margin-top: 80px;
  margin-left: 15px;

  }

.grid-item { 
  float: left;
  width: 33%;
  height: 550px;
  margin-bottom: 20px;
}


.grid-item img{
  max-width: 400px;
  max-height: 350px;
}

.picinfo{
  margin: 10px;
  color: #0c2c5a;
  text-shadow: none;
  line-height: 1.5;
  word-spacing: 5px;
  font-weight: 600;
}





/*
 * Globals
 

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  height: 100%;	
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 5px;
  margin-bottom: 5px;
  content: url('../photos/logo2.png');
  height: 40px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,1);
  border-bottom: 3px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #1e7994;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
}